<div class="jumbotron textapp">
  <p class="display-5 text-center">
    Для того чтобы узнать подробную информацию о пройденных методиках, Вам необходимо воспользоваться следующими контактными данными:
  </p>
  <div class="container">
    <table class="table table-inverse">
      <thead>
      <tr>
        <th>#</th>
        <th class="text-center">Тип контакта</th>
        <th class="text-center">Контактная информация</th>
        <th class="text-center">Компетенции</th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <th scope="row">1</th>
        <td class="text-center">Городской номер телефона</td>
        <td class="text-center">+375 152 738040</td>
        <td class="text-center">Предоставление подробной ифнормации о пройденной методике</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td class="text-center">e-mail</td>
        <td class="text-center">virtualtestlab@gmail.com</td>
        <td class="text-center">Предоставление подробной ифнормации о пройденной методике</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td class="text-center">Городской номер телефона</td>
        <td class="text-center">+375 152 73 93 01 Bird</td>
        <td class="text-center">Принятие предложений, уточнение ифнормации</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
