<div class="jumbotron container-fluid">
  <span class="header-methodics">Список доступных методик: </span>
  <div class="list-group list-methodics">
    <a routerLink="startMethodics/{{methodics.id}}" *ngFor="let methodics of openMethodics; let i = index"  class="list-group-item">
      {{i+1}}. {{ methodics.name }}
    </a>
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="errorOpenMethodicsMessage">
    {{errorOpenMethodicsMessage}}
  </div>
  <span class="header-methodics">Список пройденных методик: </span>
  <div class="alert alert-warning" role="alert" *ngIf="errorPassedMethodicsMessage">
    {{errorPassedMethodicsMessage}}
  </div>
  <div *ngIf="passedMethodics" class="list-group list-methodics">
    <span *ngFor="let methodics of passedMethodics; let i = index"  class="list-group-item">
      {{i+1}}. {{ methodics.name }}
    </span>
  </div>
</div>
