<div class="jumbotron">
  <p class="lead">Пользователь: {{creds.login}}</p>
  <hr class="my-4">
  <p>Информация о пройденных методиках: </p>
  <p *ngIf="message">{{message}}</p>
  <table *ngIf="descriptionMethodics" class="table table-inverse">
    <thead>
    <tr>
      <th>#</th>
      <th class="text-center">Название методики</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let methodics of descriptionMethodics; let i = index">
      <th scope="row">{{i+1}}</th>
      <td class="text-center">{{methodics.name}}</td>
      <td class="text-center"><button class="btn btn-sm btn-danger" (click)="reopen(methodics)"><i class="fa fa-undo"></i></button></td>
    </tr>
    </tbody>
  </table>
</div>
