<div class="jumbotron textapp">
  <h1 class="display-5 text-center">Вас приветствует веб-система <br>"Виртуальная психодиагностическая лаборатория"</h1>
  <hr class="my-4">
  <p>
    Данная система была разработана для того, чтобы дать возможность пользователям исследовать своё психологическое здоровье и получить его оценку.</p>
  <p>Для того чтобы начать прохождение методик Вам необходимо перейти на вкладку <span class="container tag">МЕТОДИКИ</span> , где Вы увидите список доступных Вам методик.<br/>
    Далее выберите нужную Вам методику. Некоторые методики могут требовать от Вас заполнение персональных данных. В этом случае заполните данные в личном кабинете пользователя ( <span class="container tag">ПРОФИЛЬ</span> ) и приступайте к выполнению
    методики. После того, как Вы ответите на все вопросы, нажмите на кнопку "Отправить". </p>
  <p>
    Узнать результаты прохождения Вы можете обратившись по телефонам или e-mail адресам, указанным на вкладке <span class="container tag">КОНТАКТЫ</span> . Также Вы можете обратиться к нам, если у Вас возникли вопросы или пожелания.</p>
    <p>Вся необходимая документация доступна к скачиванию на вкладке <span class="container tag">ДОКУМЕНТЫ</span>. </p>

  <p class="text-center display-5 thank">Спасибо, что обратились к нам.</p>
</div>
