<div class="container-fluid">
  <h3 class="header-methodics">Список методик: </h3>
  <div class="list-group list-methodics">
    <button routerLink='builder' class="btn btn-bg btn-primary m-1-auto float-right"><i class="fa fa-plus-circle"></i> Добавить методику</button>
    <span *ngFor="let methodics of allMethodics; let i = index"  class="list-group-item">
      <span style="margin-left: 20px">{{i+1}}. {{ methodics.name }}</span>
      <button class="btn btn-sm btn-danger float-right" (click)="deleteMethodics(methodics)"><i class="fa fa-trash"></i> </button>
      <button class="btn btn-sm btn-danger float-right" data-toggle="modal" data-target="#exampleModal" (click)="selectMethodics(methodics)"><i class="fa fa-key"></i> </button>
    </span>
  </div>
</div>


<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title display-6" id="exampleModalLabel">Выберите пользователя для которого открыть методику</h5>
        <button id="closeButton" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h3 class="text-center">{{openedMethodics.name}}</h3>
      <div class="modal-body display-7">
        <div class="list-group">
          <a class="list-group-item list-group-item-action" *ngFor="let user of users; let i = index" (click)="openMethodicsForUser(user)">{{i+1}}. {{user.login}}</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close" (click)='closeModal()'>Отмена</button>
      </div>
    </div>
  </div>
</div>
